<style type="text/css">
  footer { 
    background: #C5BEBE !important;
    position: relative;
    width: 100%;
  }

  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }

  .whatsapp-icon {
    margin-top:13px;
  }
</style>

{{ "<!-- footer -->" | safeHTML }}
<footer>
  <img src="{{ "images/banner_overlay.png" | absURL }}" class="overlay-image" alt="">
  <br>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 col-sm-6">
        <h5 class="font-weight-medium mb-4">Enlaces</h5>
        <ul class="list-unstyled">
          {{ range site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Contactanos</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i> {{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ site.Params.location }}
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Seguinos</h5>
        <!-- social icon -->
        <ul class="list-unstyled mb-5">
          {{ range site.Params.social }}
          <li class="mb-3"><a class="text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary mr-2"></i>in.plata</a></li>
          {{ end }}
        </ul>
        <a href="https://wa.me/{{ site.Params.mobile }}?text=Hola!" class="whatsapp" target="_blank"> 
          <i class="fa fa-whatsapp whatsapp-icon"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}


{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#img-container_0').imageZoom(function() {
      $(this).imageZoom({
        zoom: 300
      });
    });
    $('#img-container_1').imageZoom(function() {
      $(this).imageZoom({
        zoom: 300
      });
    });
  });
</script>